@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Muli);
@import url(https://fonts.googleapis.com/css?family=Roboto);
/* CSS Document */
body {
	background-color: #f9add0;
}

.texttitle {
	padding:10px !important;
}
.btntext {
    width: 139px;
	height: 15px;
	font-family: Roboto;
	color: #fb6bae;
	font-size: 21px;
	font-weight: 300;
}

.muli {
	font-family: 'Muli Light', 'Roboto', sans-serif;
}